@import 'tailwindcss';
@import './fonts/fonts.css';

/******************Global Styles***********************/
body {
  max-width: 90vw;
  margin-inline: auto;
}

@theme {
  --font-headings: 'Montserrat', sans-serif;
  --font-body: 'Monda', sans-serif;
}
