@import 'tailwindcss';
@import './fonts/fonts.css';

/***************************************
Global Styles
*****************************************/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

/***************************************
Tailwind Variables
*****************************************/

@theme {
  /* Fonts */
  --font-headings: 'Montserrat', sans-serif;
  --font-body: 'Monda', sans-serif;

  /* Colors */
  --color-pink: #fe6567;
  --color-blue: #1ca9e6;
  --color-green: #006a61;
  --color-dark: #0f0f0f;
}

/***************************************
Tailwind Custom Classes
*****************************************/
body {
  @apply bg-white text-black transition-colors;
}

.dark body {
  @apply bg-dark text-white;
}

.flex-row-center {
  @apply flex items-center justify-evenly;
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.nav-list-styles {
  @apply flex flex-col items-center;
}

.nav-btn-styles {
  @apply border p-1 rounded-sm;
}
